{% extends 'customer/base.html' %}

{% block title %} Edit password {% endblock %}
{% block breadcrumb %}
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>My Account</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home_page' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'user_profile' %}">My account</a></li>
                    <li class="breadcrumb-item active">Edit password</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}


<h1>Edit password</h1>


        <div class="card-body">
            
            <form method="POST" id="edit-address-form" class="custom-form">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="oldpassword" class="primary-color">Old password:</label>
                        <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Enter old password" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="newpassword" class="primary-color">New password:</label>
                        <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="Enter New Password" required>
                    </div>
                </div>
                {% if msg %}
                <p>{{ msg }}</p>
                {% endif %}
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
                
        </div>



{% endblock %}


