{% extends 'home/index.html' %}

{% block content %}
<div style="align-content: center;">
    <form style="margin-left: 45%;" action="{% url 'verify_payment' %}" method="POST" id="payment-form">
        {% csrf_token %}
        <input type="hidden" name="razorpay_payment_id" id="razorpay_payment_id">
        <input type="hidden" name="razorpay_order_id" id="razorpay_order_id">
        <input type="hidden" name="razorpay_signature" id="razorpay_signature">
        <input type="hidden" name="order_id" value="{{ order_id }}">
        <button class="hover hvr-hover" id="rzp-button1" type="button">Pay Now</button>
    </form>
</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        key: "{{ key_id }}",  // Your Razorpay key ID
        amount: "{{ amount }}",  // Amount in paise (make sure it is an integer)
        currency: "INR",
        name: "VegiGo",  // Your business name
        description: "Order Payment",
        order_id: "{{ order_id }}",  // Order ID from backend
        handler: function(response) {
            // Set the response data to the hidden form inputs
            document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id;
            document.getElementById('razorpay_order_id').value = response.razorpay_order_id;
            document.getElementById('razorpay_signature').value = response.razorpay_signature;
            
            // Submit the form to verify the payment
            document.getElementById('payment-form').submit();
        },
        prefill: {
            // Optional: Prefill customer information
            name: "{{ request.user.username }}",
            email: "{{ request.user.email }}"
        },
        theme: {
            color: "#F37254"  // Customize the color of the Razorpay interface
        }
    };

    var rzp1 = new Razorpay(options);
    document.getElementById('rzp-button1').onclick = function(e) {
        rzp1.open();
        e.preventDefault();
    };
</script>
{% endblock %}
