{% extends 'admin/base.html' %}
{% load static %}

{% block title %}
    Edit Branch
{% endblock %}
{% block breadcrumb %}
<div class="row mb-4 mt-2" style="height: 110px; background: linear-gradient(90deg, #4B4B4B, #2C3E50);">
    <div class="col-lg-8 mt-5">
     <h2 style="font-size: 28px;font-weight: 700;color: #ffffff;" class="ml-5"><b>Edit Branch</b></h2>
   </div>
     <div class="col-lg-3 mt-4">
       <ul class="breadcrumb" style="background-color: #06A245;">
         <li class="breadcrumb-item"><a href="{% url 'admin_page' %}"><b>Admin</b></a></li>
         <li class="breadcrumb-item"><a href="{% url 'branches_page' %}"><b>Branches</b></a></li>
         <li style="color: rgb(187, 186, 183);" class="breadcrumb-item active"><b>Edit Branch</b></li>
     </ul>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <form method="post" action="{% url 'edit_branch' branchId %}">
            {% csrf_token %}
            <!-- Render the form with Bootstrap classes -->
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
                {% if form.errors.name %}
            <p class="text-danger">{{ form.errors.name }}</p>
            {% endif %}
            </div>
    
            <!-- Add a submit button -->
            <div class="form-group">
                <button type="submit" class="btn hvr-hover">Update Branch</button>
            </div>
        </form>
    </div>
    <!-- Display the form -->
    
</div>
{% endblock %}








